:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --border-color: #ccc;
}

body {
  margin: 0;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.app {
  padding: 24px;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.app main {
  flex: auto;
}

.log-viewer-form input {
  line-height: 2;
  font-size: 16px;
  flex: auto;
  border-radius: 2px;
  margin-right: 10px;
  border: 1px solid var(--border-color);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: #eee;
  padding-left: 10px;
  padding-right: 10px;
}

.log-viewer-form button {
  font-size: 1rem;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 3px;
  border: none;
  background-color: #0fb9b8;
  color: white;

}

.log-viewer-form {
  display: flex;
  align-items: center;
}

.log-viewer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.log-container {
  margin-top: 10px;
  margin-bottom: 10px;
  flex: auto;
  border: 1px solid var(--border-color);
  font-family: 'monospace';
}